/* .ContentContainer_container__TOUv_.ContentContainer_subLevel__G_J4p {
    margin-left: auto!important;
    margin-right: auto!important;
    box-sizing: border-box;
    max-width: 1660px;
    padding-left: 150px;
    padding-right: 150px
} */
/* .dark .TextWithImage_boxLeftContent__vksMa {
    background: linear-gradient(285.58deg,hsla(0,0%,100%,.12) 5.28%,hsla(0,0%,100%,0) 72.16%)
} */
.ContentContainer_container__TOUv_.ContentContainer_subLevel__G_J4p {
    margin-left: auto!important;
    margin-right: auto!important;
    box-sizing: border-box;
    max-width: 1660px;
    padding-left: 150px;
    padding-right: 150px
}

@media(max-width: 1023px) {
    .ContentContainer_container__TOUv_.ContentContainer_subLevel__G_J4p {
        padding-left:50px;
        padding-right: 50px
    }
}

@media(max-width: 767px) {
    .ContentContainer_container__TOUv_.ContentContainer_subLevel__G_J4p {
        padding-left:20px;
        padding-right: 20px
    }
}


.TextWithImage_container__wV4Zc {
    left: 20px;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    align-items: center;
    gap: 90px
}

@media(max-width: 1023px) {
    .TextWithImage_container__wV4Zc {
        grid-template-columns:repeat(1,minmax(0,1fr));
        gap: 36px
    }
}

@media(max-width: 767px) {
    .TextWithImage_container__wV4Zc {
        grid-template-columns:repeat(1,minmax(0,1fr));
        gap: 24px;
        padding-left: 7px!important;
        padding-right: 7px!important
    }
}


/* .dark .TextWithImage_boxLeft___mGsI {
    background: linear-gradient(270deg,#161d32,rgba(18,25,47,.2))
}

@media(min-width: 1661px) {
    .TextWithImage_boxLeft___mGsI {
        padding-left:200px!important;
        padding-right: 100px!important
    }
} */

/* @media(min-width: 768px)and (max-width:1023px) {
    .TextWithImage_boxLeft___mGsI {
        -webkit-clip-path:polygon(0 0,0 0,100% 0,100% 0,100% 92%,92% 100%,0 100%,0 100%,0 10%);
        clip-path: polygon(0 0,0 0,100% 0,100% 0,100% 92%,92% 100%,0 100%,0 100%,0 10%)
    }
} */

@media(max-width: 767px) {
    .TextWithImage_boxLeft___mGsI {
        padding-bottom:55px;
        padding-top: 35px!important;
        -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 30px),calc(100% - 30px) 100%,0 100%,0 100%,0 10%);
        clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 30px),calc(100% - 30px) 100%,0 100%,0 100%,0 10%);
        border-top-right-radius: 10px
    }
}

@media(min-width: 1024px) {
    .TextWithImage_textBlock__gFA9c {
        order:1
    }

    .TextWithImage_textBlock_reversed__8EP3K {
        order: 2
    }
}

@media(max-width: 767px) {
    .TextWithImage_textBlock__gFA9c {
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.HeadlineWithText_head__Imo9w {
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 52px;
    letter-spacing: unset;
    color: var(--theme-font-text-color)
}

.TextWithImage_head__yfSjO {
    font-weight: 700;
    font-size: 40px;
    line-height: normal
}

@media(max-width: 767px) {
    .TextWithImage_head__yfSjO {
        font-size:30px!important;
        font-weight: 700!important;
        line-height: normal!important;
        text-align: center
    }
}

.HeadlineWithText_text__V5ZK_ {
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: var(--theme-font-text-color);
    font-size: 19px;
    color: var(--theme-font-description);
    line-height: 2
    
}

.TextWithImage_headline__R7vs4 {
    margin-top: 17px;
    margin-bottom: 26px
}

@media(max-width: 767px) {
    .TextWithImage_headline__R7vs4 {
        max-width:327px;
        margin: 13px auto!important;
        font-size: 14px!important;
        font-weight: 600;
        line-height: 24px;
        text-align: center
    }
}

@media(max-width: 767px) {
    .TextWithImage_imageBlock__7mTsb {
        padding:0 17px
    }

    .TextWithImage_evenBoxContent__RSC6w {
        padding-left: 17px!important;
        padding-right: 17px!important
    }
}






